@{
    ViewBag.Title = "Home Page";
}

<div id="intro">
    <p>
        <strong>
            There are so many great things in life,
            and it's easy to forget them. Here's some snippets of my life.
            The links above take you to more great things.
        </strong>

    </p>
</div>
<div class="frame">
    <p id="photoText"><strong>Jurassic park!</strong></p>
    <img src="images/waihee.jpeg" />
</div>