html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: flex;

    width: 100%;
    border: solid 2px black;
    text-align: center;
    background-color: aliceblue;
}
h1{
    color: slategray;
    text-align: center;
}
nav{
    display: block;
    float: left;
    width: 100%;
    margin-top:0.5%;
    margin-bottom: 5%;
    border-bottom: solid 2px black;
}
#horNav li{
    display: block;
    float: left;
    width: 18%;
    text-align: center;
    font-size: 25px;
}
a {
    border: inset 1px black;
    display: block;
    color: red;
    text-decoration: none;
    background-color: white;
    margin-bottom: 2%;
    margin-right: 2%;
    box-shadow: slategray 5px 5px;
}
    a:hover {
        text-decoration: none;
        background-color: red;
        color: white;
    }
h4 {
    color: blue;
    text-align: center;
}
#intro {
    display: block;
    float: left;
    width: 65%;
    margin-left: 5%;
    border: 3px outset brown;
    border-radius: 10px;
    background-color: white;
    box-shadow: slategray 5px 5px;
}
#intro p {
    text-align: center;
    font-size: 22px;
    color: darkslategray;
}
.frame {
    display: block;
    float: left;
    width: 65%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    border: 3px outset brown;
    border-radius: 10px;
    background-color: white;
    box-shadow: slategray 8px 8px;
}
#photoText{
    color: darkslategray;
    text-align: center;
    font-size: 22px;
}
img {
    width: 80%;
    border: 5px solid gray;
    border-radius: 10px;
    margin: 10%;
    margin-top: 2%;
}
aside{
    display: block;
    float: right;
    width: 20%;
    margin-right: 5%;
    
}
aside div{
    display: block;
    float: right;
    clear: right;
    width: 100%;
}
footer {
    display: block;
    float: left;
    clear: both;
    border: solid 2px black;
    text-align: center;
    width: 100%;
    background-color: aliceblue;
    font-size: 18px;
}
